
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);

}

* {
  box-sizing: border-box;
  background-image: url('../src/assets/images/mathias-reding-26af4do70fk-unsplash.jpg');
  background-attachment: fixed;
  /* background-position: 100%; */
  /* background-repeat: none; */
  background-size:cover; 
  background-position: center;
  /* object-fit: contain; */
}
/* main is the container for everything under nav */
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}


/* ------------- HEADER ------------------ */

/* My name at top left of screen */
#name {
  color: #fafafa;
  font-size: 40px;
  margin: 10px;	
}


/* make nav links light */
header a {
  color: var(--light);
}
/* no underline when hover */
nav a:hover {
  text-decoration: none;
}

/* change cursor to pointer when hovering */
 li {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float: right;
  justify-content: space-around;
}


/* align nav bar/footer options in a row */
.flex-row {
  /* display: flex; */
  flex-wrap: wrap;
}


/* ----------ABOUT ME SECTION ------------ */
/* whole container for about me */
.container {
  border: 2px, solid, white;
}
/* "About Me"  title */
#about {
  color: var(--light);
}

/* picture of me */
#photoMe {
  max-width: 55%;
}

/* about me info */
p {
  font-size: 170%;
  color: var(--light);
  position: relative; 
  right: 75px;
  font-weight: 400;
  margin: auto;
  width: 100%;
  padding: 30px;
  text-align: center;
}

/* -------- PROJECTS SECTION ------------- */

/* "Projects" title */
#projectHeader {
  font-size: 40px;
  margin: 20px;
  color: var(--light);
}

.left, .right {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}
/* all projects */
.proj1, .proj2, .proj3, .proj4, .proj5, .proj6 {
  padding: 35px;
  margin: 40px;
  background-size: contain;
  background-attachment: fixed;
  background-size:cover; 
  background-position: center;
  color: var(--light);
  font-size: 30px;
}
/* project one Gators Newsletter */
.proj1 {
  background-image: url('../../portfolio-3-react/src/assets/images/Gators.png');
  
}

/* project two Belize Fire Station */
.proj2 {
  background-image: url('../../portfolio-3-react/src/assets/images/BelizeFS.png');
}

.proj3 {
background-image: url('../../portfolio-3-react/src/assets/images/BookSearch.png');
}

.proj4 {
  background-image: url('../../portfolio-3-react/src/assets/images/Deep-Thoughts.png');
  }

  .proj5 {
    background-image: url('../../portfolio-3-react/src/assets/images/Deep-Thoughts.png');
    }

    .proj6 {
      background-image: url('../../portfolio-3-react/src/assets/images/Deep-Thoughts.png');
      }


/* ------- RESUME SECTION ---------- */
#resume {
  font-size: 40px;
  color: var(--light);
}

/* -------- CONTACT ME SECTION ------------ */
#contact {
  border: solid, 2px, var(--light)
  
}
/* entire form */
#contact-form {
  width: 40%;
  border: 2px, solid, var(--light);
}

/* "Contact Me" title */
#contactMe {
  color: var(--light);
}

/* name, email, message  */
label, button {
  color: var(--light);
  margin: 10px;
  font-weight: 700;
  font-size: larger;
}

/* name and email input area */
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--light);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  display: flex;
  width: 122%;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


/* typing area for message */
textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  opacity: .8;
  color: var(--light);
}

textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

/* submit button */
button {
	color: #fff;
	cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  opacity: .8;
}
/*  when hovering over button make it lighter */
button:hover {
  opacity: 1;
}

/* all links */
a {
  font-weight:200;
	border-radius: 2px;
	padding: 2px 4px;	
  margin: 10px;
  text-decoration: double;
}
/* -------FOOTER SECTION ---------- */
footer {
  text-align: center;
  justify-content: space-between;
  padding: 50px;
  margin: 20px;
  font-weight: bold;
  font-size: larger;
}