
:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);

}

* {
  box-sizing: border-box;
  background-image: url('./assets/images/mathias-reding-26af4do70fk-unsplash.jpg');
  background-attachment: fixed;
  background-position: 100%; 
  /* /* background-repeat: none; */
  background-size:cover; 
  background-position: center;
  /* object-fit: contain; */
}
/* main is the container for everything under nav */
main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}


/* ------------- HEADER ------------------ */

/* My name at top left of screen */
#name {
  color: #fafafa;
  font-size: 40px;
  margin: 10px;	
}


/* make nav links light */
header a {
  color: var(--light);
}
/* no underline when hover */
nav a:hover {
  text-decoration: none;
}

/* change cursor to pointer when hovering */
 li {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float: right;
  justify-content: space-around;
}


/* align nav bar/footer options in a row */
/* .flex-row { */
  /* display: flex; */
  /* flex-wrap: wrap; */
/* } */

.navLink {
  font-weight:200;
	border-radius: 2px;
	padding: 2px 4px;	
  margin: 10px;
  text-decoration: none;
}


/* ----------ABOUT ME SECTION ------------ */
/* whole container for about me */
.container {
  border: 2px, solid, white;
  margin-top: 80px;
}

.nameAndPic {
  /* display: flex; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  color: var(--light);
  margin-left: 120px;
}

/* name */
#about {
  font-size: 35px;
}
/* picture of me */
#photoMe {
  max-height: 250px;
}

/* paragraph */
#aboutMe {
color: var(--light);
text-align: center;
/* display: flex; */
font-size: 22px;
/* position: relative;  */
/* right: 75px; */
font-weight: 400;
width: 100%;
margin-top: 40px;
margin-right: 200px;
}


/* -------- PROJECTS SECTION ------------- */

/* "Projects" title */
#projectHeader {
  font-size: 50px;
  margin: 20px;
  color: var(--light);
  justify-content: center;
}

/* all project titles */
.projTitles {
  color: var(--light);
  font-size: 40px;
  margin-bottom: 10px;
  padding-left: 35px;
}

.left, .right {
  display: flex;
}

.left {
  /* float: left; */
}

.right {
  float: right;
}
/* all projects */
.proj1, .proj2, .proj3, .proj4, .proj5, .proj6 {
  padding: 30px;
  margin: 40px;
  background-size: contain;
  /* background-attachment: fixed; */
  background-size:cover; 
  background-position: center;
  color: var(--dark);
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;
  background-attachment: fixed;
}
/* project one Gators Newsletter */
.proj1 {
  background-image: url('./assets/images/Gators.png');

}

/* project two Belize Fire Station */
.proj2 {
  background-image: url('./assets/images/BelizeFS.png');
}

/* .proj3 {
background-image: url('./assets/images/BookSearch.png');
} */

/* .proj4 {
  background-image: url('./assets/images/Deep-Thoughts.png');
  } */

.proj5 {
  background-image: url('./assets/images/GameSaver.png');
  
  }

.proj6 {
  background-image: url('./assets/images/Pizza-Hunt.png');
  }


/* ------- RESUME SECTION ---------- */
/* .resume {
  color: var(--dark);
  background-image: url('./assets/images/Res.png');
  background-size: contain;
  /* background-attachment: fixed; */
  /* background-size:cover;  */
  /* background-position: center;
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
  font-weight: 700;
  text-decoration: none;
  background-position: 100%; */
/* } */

/* -------- CONTACT ME SECTION ------------ */
#contact {
  border: solid, 2px, var(--light)
  
}
/* entire form */
#contact-form {
  width: 40%;
  border: 2px, solid, var(--light);
}

/* "Contact Me" title */
#contactMe {
  color: var(--light);
}

/* name, email, message  */
label, button {
  color: var(--light);
  margin: 10px;
  font-weight: 700;
  font-size: larger;
}

/* name and email input area */
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--light);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  display: flex;
  width: 122%;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}


/* typing area for message */
textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  opacity: .8;
  color: var(--light);
}

textarea:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

/* submit button */
button {
	color: #fff;
	cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  opacity: .8;
}
/*  when hovering over button make it lighter */
button:hover {
  opacity: 1;
}
/* .row {
  display: flex;
}

.col {
  flex: 1;
} */

/* all links */
/* a {
  font-weight:200;
	border-radius: 2px;
	padding: 2px 4px;	
  margin: 10px;
} */
/* -------FOOTER SECTION ---------- */
.footerLinks {
  /* background-image: url('./assets/images/mathias-reding-26af4do70fk-unsplash.jpg'); */
  text-align: center;
  justify-content: space-between;
  justify-content: center;
  padding: 50px;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
  color: #fff;
  margin: 120px;
}


/* ---- smallest screen ----- */
@media screen and (max-width: 667px) {
  .footerLinks {
  justify-content: center;
  /* padding: 60px; */
  display: flex;
margin: 9%;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
  }
  .about {
    max-width: 100%;
    margin-top: 15%;
    /* display: block; */
  }
  #about {
    font-size: 30px;
  }
  .nameAndPic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
  }

#photoMe {
  display: flex;
  height: 90%;
}

#aboutMe {
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  margin-right: 10px;
}
  ul {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLink {
    justify-content: center;
    float: left;
    margin-right:9px;
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    display: inline;
    -ms-flex-item-align: center;
  }

  #projectHeader {
    margin: 55px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
  }

  .projTitles {
    font-size: 27px;
    font-weight: bold;
    /* text-align: center; */
    text-align: center;

  }
  .projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10%;
  }
};

@media all and (max-width: 740px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:6px;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    /* display: inline; */
  }
};

@media screen and (max-width: 915px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:9px;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    display: inline;
  }
};

@media screen and (max-width: 1180px) {
  .navLink {
    /* justify-content: center; */
    /* float: left; */
    margin-right:9px;
    font-weight: bold;
    font-size: 35px;
  }
  .about {
    /* max-width: 120%; */
    margin-top: 15%;
    display: block;
  }
  #about {
    font-size: 40px;
  }


#photoMe {
  display: flex;
  height: 100%;
}

.nameAndPic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8px;

}

#aboutMe {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  margin-right: 10px;
}

.footerLinks {
  justify-content: center;
  /* padding: 60px; */
  display: flex;
margin: 9%;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
}
};

@media screen and (max-height: 740px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:6px;
    font-weight: bold;
    font-size: 10px;
    align-items: center;
    display: inline;
}
};

@media screen and  (max-width: 1180px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:6px;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
     display: inline;
  }
  .footerLinks {
    /* background-image: url('./assets/images/mathias-reding-26af4do70fk-unsplash.jpg'); */
    text-align: center;
    justify-content: space-between;
    justify-content: center;
    padding: 50px;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    color: #fff;
    margin: 120px;
  }
};

/* @media screen and (max-height: 740px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:6px;
    font-weight: bold;
    font-size: 10px;
    align-items: center;
    display: inline;
}
}; */

/* @media screen and  (max-width: 720px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:6px;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
     display: inline;
  }
  .footerLinks {
    /* background-image: url('./assets/images/mathias-reding-26af4do70fk-unsplash.jpg'); */
    /* text-align: center;
    justify-content: space-between;
    justify-content: center;
    padding: 50px;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    color: #fff;
    margin: 120px;
  }
}; */

/* @media all and (max-width: 1080px) {
  .navLink {
    justify-content: center;
    float: left;
    margin-right:6px;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
     display: inline;
  }
} */ 